.form-table{
    display : grid;
    height : 500px;
}

.Review {
    display: block;
    margin : 50px auto;
    width: 50%;
}

.ReviewEdit { 
    display: block;
    margin: 50px auto;
    width : 1080px;
}